{% extends 'base.html' %}
{% load static %}


{% block content %}
<body>
<img src="{% static 'banner.jpg' %}">
      <h2>{{ random_hello }}</h2>
    <h1>СПИСОК ПУБЛИКАЦИЙ</h1>
{#Шаблонизатор дзиндзя позволяет нам писать данный ниже синтаксис#}
    {% for article in article_list %}
        <h3>{{ article.title }}</h3>
        <p>{{ article.description }}</p>
        <a href="http://youtube.com">ссылка на ютуб</a>
        <a href="{% url 'article-detail-url' article.id %}">ссылка на данную публикацию</a>
        <br>
    {% endfor %}

</body>
{% endblock %}
